.header {
    padding-top: 60px;
    padding-bottom: 60px;
    background: black !important;
}

.detectos {
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(27, 27, 27) !important;
}

.showcase {
    padding-top: 30px;
    padding-bottom: 30px;
    background: black !important;
}

.features {
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(27, 27, 27) !important;
}

.purchase {
    padding-top: 30px;
    padding-bottom: 30px;
    background: black !important;
}

.foot {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(255, 223, 45) !important;
}
